<div *ngIf="!checkLogin">
  <app-not-found></app-not-found>
</div>


<div *ngIf="checkLogin()">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-11">
        <app-dash-nav></app-dash-nav>

        <button type="button" class="btn btn-dark">New User</button>

        <div id="user-dash">
          <table id="user-dash-table" class="table table-striped table-bordered table-sm" cellspacing="0"
                 width="100%">
            <thead>
            <tr>
              <th class="th-sm">Id</th>
              <th class="th-sm">Name</th>
              <th class="th-sm">Date of Birth</th>
              <th class="th-sm">Email</th>
              <th class="th-sm">Admin access</th>
              <th class="th-sm">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of allUsers">
              <td>{{user.id}}</td>
              <td>({{user.name}}</td>
              <td>{{user.dateOfBirth}}</td>
              <td>{{user.email}}</td>
              <td><input type="checkbox" [checked]="user.admin"></td>
              <td>
                <span>
                  <button class="btn-dark"><i class="bi bi-trash-fill"></i></button>
                  <button class="btn-dark"><i class="bi bi-pencil-square"></i></button>
                </span>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th class="th-sm">Id</th>
              <th class="th-sm">Name</th>
              <th class="th-sm">Date of Birth</th>
              <th class="th-sm">Email</th>
              <th class="th-sm">Admin access</th>
              <th class="th-sm">Actions</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
